@model List<ListItemViewModel>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-controller="book" asp-action="add" target="_blank" class="btn btn-secondary">Add new book</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Books</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Author</th>
                            <th>Created at</th>
                            <th class="text-end">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var book in Model)
                        {
                            <tr>
                                <td>@book.Title</td>
                                <td>@book.Price</td>
                                <td>@book.Author</td>
                                <td>@string.Join(", ", book.Categories.Select(c => $"{c.Title}->{c.ParentTitle}"))</td>
                                <td>@book.CreatedAt.ToString("dd/MM/yyyy")</td>
                                <td class="text-end">
                                    <a asp-route="admin-book-update" asp-route-id="@book.Id" ><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST" asp-route="admin-book-delete" asp-route-id="@book.Id" id="book-form-@book.Id" ></form>
                                    <button type="submit" form="book-form-@book.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>